.l-flex-1 {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.l-box-empty {
  border: 1px solid #d4d4d4;
  padding: 15px;
  height: 75px;
}

.l-box-filled {
  border: 1px solid #d4d4d4;
  padding: 3px 15px;
  height: 75px;
  background: #f1f1f1;
}

.l-time-align {
  position: absolute;
  left: 5%;
}

.l-row-align {
  padding: 0px 9%;
}
